<div class="container">
		<h1 class="text-center">Blog</h1>
		<div class="row">
				<div class="blog">
						{{# each data.posts.results}}
						<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
								<h2 class="title"><a href="{{postUrl slug}}">{{{title}}}</a></h2>
								<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}</p>
								<div class="brief"><a href="{{postUrl slug}}">{{{content.brief}}}</a></div>
						</div>
						{{/each}}
				</div>
		</div>
		{{>pagination}}
</div>
