<div class="container">
		<h1 class="text-center">Blog</h1>
		<div class="row">
				<div class="blog">
						{{# each data.posts.results}}
						<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
								<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
								<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
										{{#if author.name.first}}by {{author.name.first}}{{/if}}
								</p>
								{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
								<p>{{{content.brief}}}</p>
								{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
						</div>
						{{/each}}
				</div>
		</div>
		{{>pagination}}
</div>
